@import "tailwindcss";
.body{
    background-color: #F2F6FC;
}
.black_color {
  @apply text-[#0B1215]
}
.primary {
  font-family: 'Geist', sans-serif;
}

.seconde {
  font-family: 'Geist Mono', monospace;
}
.sans {
  font-family: 'Inter', sans-serif;
}

.display {
  font-family: 'Space Grotesk', sans-serif;
}

.mono {
  font-family: 'Geist Mono', monospace;
}

.center {
    @apply flex items-center justify-center
}
#carousel {
    overflow: hidden;
    width: 100%;
}

#group {
    display: flex;
    width: max-content;
    gap: 1rem;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-50% - 0.5rem));
    }
}